// @import './bootstrap.css';

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #ccc;
}

.page-container {
	margin: 50px 100px;
	background-color: #fff;
	height: 100%;
	border-radius: 5px;
	.upload-form-container {
		.heading {
			text-align: center;
			text-decoration: underline;
		}
		.input-container {
			display: inline-block;
			margin-right: 100px;
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 10px;
			height: 200px;
			width: 300px;
			input {
				background: #eee;
			}
		}
		.or {
			display: inline-block;
			height: 200px;
		}
		.track-drop {
			display: inline-block;
			border: 2px dashed blue;
			height: 200px;
			width: 300px;
			padding: 10px;
			margin-left: 100px;
			&::before {
				content: 'Drop audio file(s) here!';
			}
			&.drag-enter {
				border: 2px solid green;
			}
		}
		.parent-for-center-div {
			position: relative;
			& > *,
			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	.text-center {
		text-align: center;
	}
}

// .loader{
//     width: 100px;
//     height: 100px;
//     position: relative;
//     animation: myfirst 4s linear 2s infinite alternate;
// }
// @keyframes myfirst {
//     0%   { left:0px; }
//     25%  { left: calc(100% - 100px); }
//     50%  { left: calc(100% - 100px); }
//     75%  { left:0px; }
//     100% { left:0px; }
// }
